@charset "UTF-8";

@import url("html/css/structure.css"); /* Permet d'importer la feuille css qui met en place le header et le footer */
@import url("html/css/responsive.css"); /* Permet d'importer la feuille css qui met en place le responsive du site web */


/* ##### BALISES GENERALE #####*/

body{
    width: 100%;
    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none;
    color: #FDCB46;
}

/* ##### MENUS #####*/
.flex_menu1{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.flex_menu2{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

/* ##### (MENU 1) "La note enchantée" #####*/
.menu_lanote{
    background-color: #FCDFDB;
    color: #3C1218;
    text-align: center;
    box-shadow: 0px 0px 7px rgb(201, 193, 193);
    height: 400px;
    min-width: 300px;
    margin-right: 15px;
}

.texte_lanote{
    color: #3C1218;
}

.titre_lanote{
    line-height: 1px;
}

.titre_lanote, .texte_lanote{
    padding-top: 120px;
}

/* ##### (MENU 2) "Le chic à la française" #####*/
.menu_lechic{
    background-color: #FFF5FE;
    text-align: center;
    box-shadow: 0px 0px 7px rgb(201, 193, 193);
    height: 400px;
    min-width: 300px;
    margin-left: 15px;
}

.texte_lechic{
    color: #C77412;    
}

.titre_lechic h2{
	background: linear-gradient(to right, #D8852E 0%, #905BFD 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: rgba(255, 255, 255,0);
}

.titre_lechic, .texte_lechic{
    padding-top: 128px;
}

/* ##### (MENU 3) "Le délice des papilles" #####*/
.menu_ledelice{
    background-color: #F9F9F9;
    text-align: center;
    box-shadow: 0px 0px 7px rgb(201, 193, 193);
    height: 400px;
    min-width: 300px;
    margin-right: 15px;
}

.texte_ledelice{
    color: #2B91F8;
}

.titre_ledelice h2{
	background: linear-gradient(to right, #0431DF 0%, #1789F9 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.titre_ledelice, .texte_ledelice{
    padding-top: 128px;
}

/* ##### (MENU 4) "La palette du goût" #####*/
.menu_lapalette{
    background-color: #FDFFFD;
    text-align: center;
    box-shadow: 0px 0px 7px rgb(201, 193, 193);
    height: 400px;
    min-width: 300px;
    margin-left: 15px;
}

.texte_lapalette{
    color: #72BF56;
}

.titre_lapalette h2{
    background: linear-gradient(to right, #3D9339 0%, #BFFF7E 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.titre_lapalette, .texte_lapalette{
    padding-top: 128px;
}

/* ##### PROCHAINEMENT ##### */
.prochainement {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 75px;
}

.bouton_prochainement h2{
    color: #FDCB46;
    background: #579C87;
    border-radius: 8px;
    width: 280px;
    text-align: center;
}

.bouton_prochainement h2:hover{
    color: #FDCB46;;
    background: #4ac49d;
    background: linear-gradient( #4ac49d, #13c287);
}

.bouton_prochainement h2:active{
    color: #FDCB46;
    background: #579C87;
    background: linear-gradient( #4ac49d, #46cea1);            
}