@charset "UTF-8";



/* ##### FONTS ##### */

@font-face{
    font-family: 'CheapProFonts';
    src: url('fonts/CheapProFonts/cpf serif pro-bold.otf');
}

@font-face{
    font-family: 'Worstveld Sling';
    src: url('fonts/Worstveld_Sling/worstveldslingbold.ttf');
}

/* ##### end FONTS ##### */



/* ##### BALISES GENERALE #####*/

html, body{
	height: 100%;
	margin: 0;
	padding: 0;
}

body{
    display: flex;
	flex-direction: column;
}

a{
    text-decoration: none;
}

/* ##### end BALISES GENERALE #####*/



/* ##### HEADER #####*/

.header_infos{
    display: flex;
    justify-content: center;
    background-color: #579C87;
}

.header_infos h1{
    font-family: 'Source Sans Pro', Arial, sans-serif;
    color: #FDCB46;
    font-size: 50px;
}

/* ##### end HEADER #####*/



#contenu_page{
    margin-top: 90px;
    margin-bottom: 90px;
    display: flex;
    justify-content: center;
}


/* ##### MENUS #####*/

        /* ##### MENU : "La note enchantée" #####*/

        .menu_lanote{
            background-color: #FCDFDB;
            color: #3C1218;
            text-align: center;
        }

        .icone_lanote{
            color: #F78F6A;
        }

        .texte_lanote{
            color: #3C1218;
            font-family: cursive, Arial, sans-serif;
            font-weight: bold;
            font-style: italic;
            font-size: 28px;
        }
        .titre_lanote h2{
            font-family: 'Devonshire', Arial, sans-serif;
            font-size: 28px;
        }

        /* ##### end MENU : "La note enchantée" #####*/



        /* ##### MENU : "Le chic à la française" #####*/

        .menu_lechic{
            background-color: #FFF5FE;
            text-align: center;
            
        }

        .menu_lechic h2{
            color: #9D62DB;
        }

        .texte_lechic{
            color: #C77412;
            font-family: 'CheapProFonts', Arial, sans-serif;
            font-weight: bold;
            font-style: normal;
            font-size: 26px;
        }

        .titre_lechic h2{
            font-family: 'Croissant One', Arial, sans-serif;
            font-size: 20px;
        }

        /* ##### end MENU : "Le chic à la française" #####*/



         /* ##### MENU : "Le délice des papilles" #####*/

        .menu_ledelice{
            background-color: #F9F9F9;
            text-align: center;
        }

        .menu_ledelice h2{
            color: #5076EA;
        }

        .texte_ledelice{
            color: #2B91F8;
            font-family: 'Handlee', Arial, sans-serif;
            font-weight: bold;
            font-style: normal;
            font-size: 28px;
        }

        .titre_ledelice h2{
            font-family: 'Dancing Script', Arial, sans-serif;
            font-size: 26px;
        }

        /* ##### MENU : end "Le délice des papilles" #####*/



        /* ##### MENU : "La palette du goût" #####*/

        .menu_lapalette{
            background-color: #FDFFFD;
            text-align: center;
        }

        .menu_lapalette h2{
            color: #5EAE4B;
        }

        .texte_lapalette{
            color: #72BF56;
            font-family: 'Worstveld Sling', Arial, sans-serif;
            font-weight: bold;
            font-style: normal;
            font-size: 45px;
        }

        .titre_lapalette h2{
            font-family: 'Kaushan Script', Arial, sans-serif;
            font-size: 21px;
        }

        /* ##### end MENU : "La palette du goût" #####*/

/* ##### end MENUS #####*/



/* ##### PROCHAINEMENT ##### */

.prochainement {
    display: flex;
    justify-content: center;
    
}

.bouton_prochainement p{
    font-family: 'Titillium Web', Arial, sans-serif;
    font-size: 24px;
    color: #FDCB46;
    background: #579C87;
    border-radius: 8px;
    width: 240px;
    text-align: center;
}

.bouton_prochainement p:hover{
    color: blue;
    background: #4ac49d;
    background: linear-gradient( #4ac49d, #46cea1);
}

.bouton_prochainement p:active{
    color: #FDCB46;
    background: #579C87;
    background: linear-gradient( #4ac49d, #46cea1);            
}

/* ##### end PROCHAINEMENT ##### */



/* ##### FOOTER ##### */

.footer_infos{
    background-color: #579C87;
    margin-top: auto;
}

.items_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
    
}

.texte_footer{
    font-family: 'Titillium Web', Arial, sans-serif;
    color: #FDCB46;
    font-size: 20px;
}

/* ##### end FOOTER ##### */