@charset "UTF-8";



/* ##### BALISES GENERALE #####*/

body{
    margin: 0px;
}

#bloc_page{
    font-size: 15px;
}

a{
    text-decoration: none;
}

/* ##### end BALISES GENERALE #####*/



/* ##### HEADER #####*/

.titre_ohmyfood{
    background-color: #579C87;
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: center;
    
}

.titre_ohmyfood h1{
    color: #FDCB46;
    font-size: 35px;
}

/* ##### end HEADER #####*/



/* ##### MENUS #####*/

#corps_contenu{
    margin-top: 50px;
}

        /* ##### MENU : "La note enchantée" #####*/

        .menu_lanote{
            background-color: #FCDFDB;
            color: #3C1218;
            text-align: center;
        }

        .icone_lanote{
            color: #F78F6A;
        }

        .texte_lanote{
            color: #3C1218;
        }

        /* ##### end MENU : "La note enchantée" #####*/



        /* ##### MENU : "Le chic à la française" #####*/

        .menu_lechic{
            background-color: #FFF5FE;
            text-align: center;
            
        }

        .menu_lechic h2{
            color: #9D62DB;
        }

        .texte_lechic{
            color: #C77412;
        }

        /* ##### end MENU : "Le chic à la française" #####*/



         /* ##### MENU : "Le délice des papilles" #####*/

        .menu_ledelice{
            background-color: #F9F9F9;
            text-align: center;
        }

        .menu_ledelice h2{
            color: #5076EA;
        }

        .texte_ledelice{
            color: #2B91F8;
        }

        /* ##### MENU : end "Le délice des papilles" #####*/



        /* ##### MENU : "La palette du goût" #####*/

        .menu_lapalette{
            background-color: #FDFFFD;
            text-align: center;
        }

        .menu_lapalette h2{
            color: #5EAE4B;
        }

        .texte_lapalette{
            color: #72BF56;
        }

        /* ##### end MENU : "La palette du goût" #####*/

/* ##### end MENUS #####*/



/* ##### PROCHAINEMENT ##### */

.prochainement{
    margin-top: 40px;
    margin-left: 750px;
}

.bouton_prochainement p{
    font-size: 1.6em;
    width: 400px;
    height: 43px;
    padding-top: 12px;
    text-align: center;
    color: #FDCB46;
    background: #579C87;
    border-radius: 8px;
}

.bouton_prochainement p:hover{
    color: blue;
    background: #4ac49d;
    background: linear-gradient( #4ac49d, #46cea1);
}

.bouton_prochainement p:active{
    color: #FDCB46;
    background: #579C87;
    background: linear-gradient( #4ac49d, #46cea1);
    box-shadow: 1px 1px 10px black inset, 
                
}

/* ##### end PROCHAINEMENT ##### */



/* ##### FOOTER ##### */

.informations{
    background-color: #579C87; 
    margin-top: 40px;
}

.texte_footer{
    color: #FDCB46;
    font-size: 20px;
}

/* ##### end FOOTER ##### */