@charset "UTF-8";


/* ########## ADD FONTS ########## */
@font-face{
    font-family: "Devonshire";
    src: url("../../fonts/Devonshire-Regular.ttf");
}

@font-face{
    font-family: "Caveat Bold";
    src: url("../../fonts/Caveat-Bold.ttf");
}

@font-face{
    font-family: "Caveat Regular";
    src: url("../../fonts/Caveat-Regular.ttf");
}

@font-face{
    font-family: "Junicode";
    src: url("../../fonts/Junicode-Bold.ttf");
}

@font-face{
    font-family: "Source Serif Pro";
    src: url("../../fonts/SourceSerifPro-Bold.otf"),
}

@font-face{
    font-family: "Source Serif Pro Regular";
    src: url("../../fonts/SourceSerifPro-Regular.otf");
}

@font-face{
    font-family: "Dancing Script";
    src: url("../../fonts/DancingScript-Regular.otf");
}

@font-face{
    font-family: "Kaushan Script";
    src: url("../../fonts/KaushanScript-Regular.ttf")
}


/* ########## GENERALE ########## */
.items_footer{
    font-family: cursive;
    font-size: 20px;
    font-weight: 500;
}

.header_infos{
    font-family: cursive;
    font-size: 18px;
    font-weight: 500;
}

.bouton_prochainement{
    font-family: cursive;
    font-weight: 500;
    font-size: 22px;
}

/* ########## Ecran ayant une largeur minimum de 750px ########## */
@media screen and (max-width: 750px){
    .items_footer, .header_infos, .bouton_prochainement{
        font-family: Arial;
        font-size: 15px;
        font-weight: bold;
    }
}


/* ########## MENU : La note enchantée ########## */ 
.titre_lanote, .fin_de_menu{
    font-family: "Devonshire";
    font-size: 33px;
}

.menu-titre_lanote{
    font-family: "Devonshire";
    font-size: 40px;
}

.texte_lanote{
    font-family: "Caveat Bold";
    font-size: 28px;
}

#bloc_page_lanote .prix{
    font-weight: bold;
}

.font-prelude, .font-orgue, .font-mouvement{
    font-family: "Caveat Bold";
    font-size: 30px;
}

    #bloc_page_lanote p{
    font-family: "Caveat Regular";
    font-size: 24px;
}

/* ########## Ecran ayant une largeur minimum de 1050px ########## */ 


/* ########## Ecran ayant une largeur minimum de 750px ########## */ 
@media screen and (max-width: 750px){
    .font-prelude, .font-orgue, .font-mouvement{
        font-size: 15px;
    }

    #bloc_page_lanote p{
        font-size: 12px;
    }

    .fin_de_menu{
        font-size: 30px;
    }
}   


/* ########## MENU : Le chic à la française ########## */ 
.titre_lechic{
    font-family: "Junicode";
    font-size: 26px;
}

.menu-titre_lechic{
    font-family: "Junicode";
    font-size: 44px;
}

.texte_lechic{
    font-size: 29px;
    font-weight: bold;
}

.font-appetit, .font-papilles, .font-gourmandises{
    font-family: "Source Serif Pro";
}

#bloc_page_lechic p{
    font-family: "Source Serif Pro Regular";
    font-size: 16.5px;
}

/* ########## Ecran ayant une largeur minimum de 750px ########## */
@media screen and (max-width: 750px){
    .font-appetit, .font-papilles, .font-gourmandises{
        font-size: 13px;
    }

    #bloc_page_lechic p{
        font-size: 7px;
    }

    .menu-titre_lechic{
        font-family: "Junicode";
        font-size: 26px;
    }
}


/* ########## MENU : Le délice des papilles ########## */ 
.titre_ledelice{
    font-family: "Dancing Script";
    font-size: 28px;
}

.menu-titre_ledelice{
    font-family: "Dancing Script";
    font-size: 50px;
}

.texte_ledelice{
    font-family: "Kaushan Script";
    font-size: 30px;
}

.font-commencer, .font-continuer, .font-terminer{
    font-family: "Caveat Regular";
    font-weight: 500;
    font-size: 29px;
}

#bloc_page_ledelice p{
    font-family: "Caveat Regular";
    font-size: 21px;
}

#bloc_page_ledelice .prix{
    font-weight: 500;
}

@media screen and (max-width: 750px){
    .font-commencer, .font-continuer, .font-terminer{
        font-size: 19px;
    }

    #bloc_page_ledelice p{
        font-size: 9px;
    }

    .menu-titre_ledelice{
        font-size: 32px;
    }
}


/* ########## MENU : La palette du gout ########## */ 
.titre_lapalette{
    font-family: "Kaushan Script";
    font-size: 28px;
}

.menu-titre_lapalette{
    font-family: "Kaushan Script";
    font-size: 50px;
}

.texte_lapalette{
    font-family: "Kaushan Script";
    font-size: 30px;
}

.font-esquisse, .font-oeuvre, .font-sommet{
    font-family: "Caveat Regular";
    font-size: 28px;
    font-weight: 500;
}

#bloc_page_lapalette p{
    font-family: "Caveat Regular";
    font-size: 20px;
}

@media screen and (max-width: 750px){
    .font-esquisse, .font-oeuvre, .font-sommet{
        font-size: 19px;
    }

    #bloc_page_lapalette p{
        font-size: 8px;
    }

    .menu-titre_lapalette{
        font-family: "Kaushan Script";
        font-size: 30px;
    }
}


/* ########## MENTIONS ########## */
.contenu_mention h2, .contenu_mention h3{
    font-family: "Source Serif Pro";
    font-weight: bold;
    font-size: 26px;
}

.contenu_mention p, .contenu_mention ul{
    font-family: "Source Serif Pro Regular";
    font-size: 15px;
}

/* ########## Ecran ayant une largeur minimum de 750px ########## */
@media screen and (max-width: 750px){
    .contenu_mention p, .contenu_mention ul{
        font-family: "Source Serif Pro Regular";
        font-size: 10px;
    }

    .contenu_mention h2, .contenu_mention h3{
    font-family: "Source Serif Pro";
    font-size: 20px;
    }
}
