@charset "UTF-8";

/* ##### HEADER #####*/

.header_infos{

    background-color: #579C87;
}

.header_infos h1{
    font-family: 'Source Sans Pro', Arial, sans-serif;
    color: #FDCB46;
    font-size: 50px;
    display: flex;
    justify-content: center;
}

/* ##### end HEADER #####*/