@charset "UTF-8";

/* ##### HEADER #####*/

.header_infos{
    background-color: #579C87;
    width: auto;
    margin: 0;
    padding: 0;
}

.header_infos h1{
    font-family: 'Source Sans Pro', Arial, sans-serif;
    color: #FDCB46;
    display: flex;
    justify-content: center;
    font-size: 32px;
}

/* ##### end HEADER #####*/