@charset "UTF-8";


@import url("structure.css"); /* Permet d'importer la feuille css qui met en place le header et le footer */
@import url("menus_bloc_page.css"); /* Permet d'importer la feuille css qui met en place le bloc_page des menus */
@import url("responsive.css"); /* Permet d'importer la feuille css qui met en place le responsive du site web */
@import url("fonts.css"); /* Permet d'importer la feuille css qui met en place les fonts */


/* ########## GENERALE ########## */
#bloc_page_lanote{
    background-color: #FDE0DC;
    color: #3C1218;
}

.menu-titre_lanote{
    margin-top: 50px;
}

.prelude{
    margin-top: 50px;
}

.point_orgue, .mouvement_final{
    margin-top: 40px;
}

.fin_de_menu{
    margin-top: 50px;
}


/* ########## ELEMENTS GRAPHIQUES ########## */
.fin_de_menu img{
    margin-right: 10px;
    vertical-align: middle;
}

.img-l-prelude, .img-l-orgue,.img-l-mouvement{
    float: left;
}

.img-r-prelude, .img-r-orgue, .img-r-mouvement{
    float: right;
}

.titre_prelude, .titre_orgue, .titre_mouvement{
    line-height: 3px;
}
