@charset "UTF-8";



/* ##### FEUILLES CSS ##### */

@import url("footer.css"); /* Permet d'importer la feuille css qui met en place le footer */
@import url("header.css"); /* Permet d'importer la feuille css qui met en place le header */
@import url("menus_bloc_page.css"); /* Permet d'importer la feuille css qui met en place le bloc_page des menus */
@import url("responsive.css"); /* Permet d'importer la feuille css qui met en place le responsive du site web */

/* ##### end FEUILLES CSS ##### */



/* ##### BLOC PAGE #####*/

#bloc_page_lanote{
    background-color: #FDE0DC;
    font-family: cursive, Arial, sans-serif;
    color: #3C1218;
}

/* ##### end BLOC PAGE ##### */



/* ##### MENU ##### */

.titre_lanote{
    margin-top: 40px;
    line-height: 1px;
}

.titre_lanote h2{
    font-family: 'Devonshire', Arial, sans-serif;
    font-size: 32px;
}

.texte_lanote{       
    font-style: italic;
    font-size: 28px;
}

.test{
    margin-left: 67px;
    margin-right: 67px;
}

.prelude{
    margin-top: 35px;
}

.point_orgue{
    margin-top: 35px;
}

.mouvement_final{
    margin-top: 35px;
}

.fin_de_menu {
    margin-top: 35px;
    margin-bottom: 80px;
}

.fin_de_menu p{
    font-family: 'Devonshire', Arial, sans-serif;
    font-size: 26px;
}

.icone_music{
    float: left;
    margin-right: 5px;
}

/* ##### end MENU ##### */