@charset "UTF-8";

@import url("structure.css"); /* Permet d'importer la feuille css qui met en place le header et le footer */
@import url("menus_bloc_page.css"); /* Permet d'importer la feuille css qui met en place le bloc_page des menus */
@import url("responsive.css"); /* Permet d'importer la feuille css qui met en place le responsive du site web */


#bloc_page_lanote{
    background-color: #FDFFFD;
}

.titre_lapalette{
    background: linear-gradient(to right, #3D9339 0%, #BFFF7E 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.titre_lapalette, .esquisse, .oeuvre{
    margin-top: 45px;
    margin-bottom: 45px;
}

.au_sommet{
    margin-top: 45px;
    margin-bottom: 90px;
}

