@charset "UTF-8";

@import url("structure.css"); /* Permet d'importer la feuille css qui met en place le header et le footer */
@import url("menus_bloc_page.css"); /* Permet d'importer la feuille css qui met en place le bloc_page des menus */
@import url("responsive.css"); /* Permet d'importer la feuille css qui met en place le responsive du site web */
@import url("fonts.css"); /* Permet d'importer la feuille css qui met en place les fonts */


#bloc_page_lechic{
    background-color: #FFF5FE;
}

.titre_lechic h2{
	background: linear-gradient(to right, #D8852E 0%, #905BFD 100%);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 75px;
}

.en_appetit{
    color: #C77412;
    margin-top: 75px;

}

.plaisir_papilles{
    color: #A56799;
    margin-top: 75px;
}

.gourmandises{
    margin-top: 75px;
    color: #6E4CCC;
}

/* ELEMENTS GRAPHIQUES */
.img-l-appetit, .img-l-papilles, .img-l-gourmandises{
    float: left;
}

.img-r-appetit, .img-r-papilles, .img-r-gourmandises{
    float: right;
}

.titre_en_appetit, .titre_papilles, .titre_gourmandises{
    line-height: 5px;
}