@charset "UTF-8";

/* ##### BALISES GENERALE #####*/

html, body{
    height: auto;
	margin: 0;
	padding: 0;
}

body{
    display: flex;
	flex-direction: column;
}

a{
    text-decoration: none;
    color: #FDCB46;
}

ul{
    list-style: none;
}

/* ##### end BALISES GENERALE ##### */



/* ##### DIV MENUS ##### */

#bloc_page_lechic, #bloc_page_lanote, #bloc_page_lapalette, #bloc_page_ledelice{
    box-shadow: 0px 0px 7px rgb(201, 193, 193);
    display: flex;
    justify-content: center;
    align-self: center;
    width: 800px;
    height: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.page_lapalette_menu p, .page_lanote_menu p, .page_lechic_menu p, .page_ledelice_menu p{
    display: flex;
    justify-content: space-between;
    
}

.page_lapalette_menu, .page_lanote_menu , .page_lechic_menu , .page_ledelice_menu {
    width: 600px;
}

 #bloc_page_lechic h3, #bloc_page_lanote h3, #bloc_page_lapalette h3, #bloc_page_ledelice h3{
    text-align: center;
}

.titre_lanote, .titre_lechic, .titre_lapalette, .titre_ledelice{
    text-align: center;
}

/* ##### end DIV MENUS ##### */
