@charset "UTF-8";



/* Ecran ayant une largeur maximum de 950px */

@media screen and (max-width: 950px){ 

/* INDEX */
    .flex_menu1, .flex_menu2, .page_lanote_menu{
        flex-direction: column;
        align-items: center;
        margin-left: 12px;
}

    .menu_lechic{
        position: relative;
        right:12px;
        margin-top: 50px;
    }

    .menu_lapalette{
        position: relative;
        right:12px;
        margin-top: 50px;
    }

    .header_infos h1{
        font-size: 22px;
    }

    .texte_footer{
        font-size: 18px;
    }
/* end INDEX */

/* MENUS */
    #bloc_page_lanote, #bloc_page_lechic, #bloc_page_lapalette, #bloc_page_ledelice{
        width: 550px;
    }

    #bloc_page_lanote p, #bloc_page_lechic p, #bloc_page_lapalette p, #bloc_page_ledelice p{
        font-size: 13px;    
}
/* end MENUS */
/* MENTIONS */
    .mention1 p, .mention2 p, .mention3 p, .mention4 p, ul{
        font-size: 13px;
    }

/* end Ecran ayant une largeur maximum de 950px */