@charset "UTF-8";



/* Ecran ayant une largeur maximum de 950px */

@media screen and (max-width: 950px){ 

    .flex_menu1, .flex_menu2{
        flex-direction: column;
        align-items: center;
        margin-left: 12px;
    }

    .menu_lechic{
        position: relative;
        right:12px;
        margin-top: 50px;
    }

    .menu_lapalette{
        position: relative;
        right:12px;
        margin-top: 50px;
    }

    }

    .header_infos h1{
        font-size: 20px;
    }

    .texte_footer{
        font-size: 18px;
    }


}

/* end Ecran ayant une largeur maximum de 950px */