@charset "UTF-8";


/* ##### Ecran ayant une largeur maximum de 950px ##### */

@media screen and (max-width: 950px){ 

/* ##### INDEX ##### */
    .flex_menu1, .flex_menu2, .page_lanote_menu{
        flex-direction: column;
        align-items: center;
    }

    .menu_lechic{
        position: relative;
        right:15px;
        margin-top: 50px;
    }

    .menu_lapalette{
        position: relative;
        right:15px;
        margin-top: 50px;
    }

/* ##### MENUS ##### */
    #bloc_page_lanote, #bloc_page_lechic, #bloc_page_lapalette, #bloc_page_ledelice{
        max-width: 550px;
        min-height: 700px;
    }
}

/* ##### Ecran ayant une largeur minimum de 610px ##### */ 

@media screen and (max-width: 610px){

/* ##### MENUS ##### */
    #bloc_page_lanote, #bloc_page_lechic, #bloc_page_lapalette, #bloc_page_ledelice{
        max-width: 310px;
    }
}