@charset "UTF-8";

html, body{
    width: 100%;
    height: 100%;
	margin: 0;
	padding: 0;
}

/* ##### HEADER #####*/
.header_infos{
    font-family: 'Source Sans Pro', Arial, sans-serif;
    color: #FDCB46;
    background-color: #579C87;
}

.header_infos h1{
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* ##### FOOTER ##### */
.footer_infos{
    background-color: #579C87;
    margin-top: auto;
    width: 100%; 
}

.items_footer{
    color: #FDCB46;
    display: flex;
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

