@charset "UTF-8";


/* ##### HEADER #####*/
.header_infos{
    font-family: 'Source Sans Pro', Arial, sans-serif;
    color: #FDCB46;
    background-color: #579C87;
    width: auto;
    margin: 0;
    padding: 0;
}

.header_infos h1{
    display: flex;
    justify-content: center;
    font-size: 32px;
}

/* ##### FOOTER ##### */
.footer_infos{
    background-color: #579C87;
    margin-top: auto;
    width: 100%; 
}

.items_footer{
    font-family: 'Titillium Web', Arial, sans-serif;
    color: #FDCB46;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
}

