@charset "UTF-8";

html, body{
    width: 100%;
    height: 100%;
	margin: 0;
	padding: 0;
}

/* ##### HEADER #####*/
.header_infos{
    color: #FDCB46;
    background-color: #579C87;
}

.header_infos h1{
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* ##### FOOTER ##### */
.footer_infos{
  
    background-color: #579C87;
    height          : 40px;
    position        : fixed;
    bottom            : 0;
    width           : 100%;
    left            : 0;
}


.items_footer{
    color: #FDCB46;
    display: flex;
    justify-content: space-between;
    width           : 100%;
    color           : #ccc;
} 

