@charset "UTF-8";
@import url("../html/css/footer.css");
@import url("../html/css/header.css");

body{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Verdana, sans-serif;
}

header{
    margin-bottom: 50px;
}

.fin-mention{
    padding-top: 40px;
}

h1, h2, h3, p, ul{
    text-align: center;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #FDCB46;
}

