@charset "UTF-8";



/* ##### BALISES GENERALE #####*/

html, body{
	height: 100%;
	margin: 0;
	padding: 0;
}

body{
    display: flex;
	flex-direction: column;
}

a{
    text-decoration: none;
    color: #FDCB46;
}

#bloc_page_lanote{
    background-color: #FDE0DC;
    font-family: cursive, Arial, sans-serif;
    color: #3C1218;
    box-shadow: black 0.012em 0.012em 0.012em 0.012em;
    display: flex;
    justify-content: center;
    align-self: center;
    height: auto;
    min-width: 800px;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* ##### end BALISES GENERALE ##### */



/* ##### HEADER #####*/

.header_infos{
    display: flex;
    justify-content: center;
    background-color: #579C87;
}

.header_infos h1{
    font-family: 'Source Sans Pro', Arial, sans-serif;
    color: #FDCB46;
    font-size: 50px;
}

/* ##### end HEADER ##### */



/* ##### MENU ##### */

 #bloc_page_lanote h3{
    text-align: center;
}

.titre_lanote{
    text-align: center;
    margin-top: 45px;
}

.lanote_style{
    font-family: 'Devonshire', Arial, sans-serif;
    font-size: 35px;
}

.texte_lanote{       
    font-style: italic;
    font-size: 28px;
}

.icone_lanote{
    color: #F78F6A;   
}

.icone_lanote_fin{
    color: #F78F6A;
    margin-right: 8px;    
}

.page_lanote_prix{
    display: flex;
    justify-content: flex-end;
    
   
}

.prelude{
    margin-top: 45px;
}

.point_orgue{
    margin-top: 45px;
}

.mouvement_final{
    margin-top: 45px;
}

.fin_de_menu{
    font-family: 'Devonshire', Arial, sans-serif;
    font-size: 28px;
    text-align: center;
    margin-top: 45px;
    margin-bottom: 45px;
    font-weight: 500;
}

/* ##### end MENU ##### */



/* ##### FOOTER ##### */

.footer_infos{
    background-color: #579C87;
    margin-top: auto;
}

.items_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
    
}

.texte_footer{
    font-family: 'Titillium Web', Arial, sans-serif;
    font-size: 24px;
}

/* ##### end FOOTER ##### */